*terraform.*
*.terraform
*.terraform*.tfstate*.lock*.
*.zip
*pvars.*
*-setup-*.sh
*-init-*.yml
lambda/__pycache__/*
lambda/ask_sdk_*
lambda/bin/*
lambda/certifi*
lambda/charset*
lambda/dateutil/*
lambda/idna*
lambda/python_dateutil*
lambda/requests*
lambda/six*
lambda/urllib3*
lambda/PyYAM*
lambda/SQLAlchemy*
lambda/_yaml/*
lambda/aio*
lambda/async*
lambda/attr*
lambda/attrs*
lambda/dataclasses*
lambda/frozenlist*
lambda/greenlet*
lambda/include/*
lambda/langchain*
lambda/marshmallow*
lambda/multidict*
lambda/mypy_extensions*
lambda/numpy*
lambda/openai*
lambda/packaging*
lambda/pydantic*
lambda/sqlalchemy*
lambda/tenacity*
lambda/tqdm*
lambda/typing_extensions*
lambda/typing_inspect*
lambda/yaml/*
lambda/yarl*
TEMP.json